/*TODO: styles.css */
.feature-icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: rgba(63, 142, 252, .2);
    color: #3f8efc;
    font-size: 30px;
    border-radius: 50%;
}

.timeline-page .works-description-right::after {
    left: -8px;
}

.feature-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s ease;
}

    .feature-box:hover {
        transform: translateY(-10px);
    }

.bg-cta {
    padding: 120px 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-overlay {
    position: absolute;
    background-color: rgba(48, 58, 69, .7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.feature-box .feature-link {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature-box {
    text-align: center;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .feature-box:hover .feature-link {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

.play-btn {
    height: 64px;
    width: 64px;
    font-size: 30px;
    line-height: 64px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
}

.play-icon {
    height: 64px;
    width: 64px;
    font-size: 30px;
    line-height: 64px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #2196F3;
}

/* Custom Bootstrap Tooltip Styling */
.tooltip-inner {
    background-color: var(--bs-app-theme) !important; 
    color: #fff !important;               
    font-weight: 500;
  }
  
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}  

.dropdown-menu{
    --bs-dropdown-link-active-bg:var(--bs-app-theme) !important;
}

